.snackpasslogo1{
  float: left;
  width: 40px;
  margin-right: 8px;
  margin-left: 8px;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 0;
}

.Snackpass{
  float: left;
  font-size: xx-large;
  color: black;
  font-weight: bold;
  font-family: arial;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 0;
}

.buttons{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 800px;
  padding-top: 20px;
  vertical-align: bottom;
}

.Our-Story{
  color: gray;
  margin-right: 15px;
  text-decoration: 0;
  cursor: pointer;
}

.Our-Story:hover{
  color: black;
  text-decoration: underline;
}

.Media{
  color: gray;
  margin-right: 15px;
  text-decoration: 0;
  cursor: pointer;
}

.Media:hover{
  color: black;
  text-decoration: underline;
}

.Pricing{
  color: gray;
  margin-right: 15px;
  cursor: pointer;
}

.Pricing:hover{
  color: black;
  text-decoration: underline;
}

.Customer-Stories{
  color: gray;
  margin-right: 15px;
  text-decoration: 0;
  cursor: pointer;
}

.Customer-Stories:hover{
  color: black;
  text-decoration: underline;
}

.Get-a-Demo{
  color: white;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(12, 140, 214);
  border: none;
  padding: 15px;
  border-radius: 7px;
  cursor: pointer;
}

.pic1{
  float: left;
  width: 550px;
  height: 550px;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.paragraph1{
  margin-left: 550px;
  margin-right: 100px;
  margin-bottom: 0;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;

}

.paragraph2{
  margin-left: 550px;
  margin-right: 100px;
  color: gray;
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 10px;
  font-family: arial;
  font-size: 40px;
}

.Get-a-Demo1{
  color: white;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(12, 140, 214);
  border: none;
  padding: 15px;
  border-radius: 7px;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.pic2{
  float: right;
  width: 550px;
  height: 550px;
  border-radius: 10px;
  margin-top: 50px;
  margin-right: 100px;
}

.paragraph3{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  margin-top: 100px;
  margin-left: 150px;
  font-size: 80px;
  margin-bottom: 0;
}

.paragraph4{
  font-family: arial;
  color: gray;
  font-size: 45px;
  margin-left: 150px;
}

.Learn-More{
  background-color: gray;
  border: none;
  padding: 15px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  border-radius: 7px;
  margin-top: 0;
  margin-left: 150px;
}